tags/Legstar-1.3.2/legstar-xsdcgen/src/test/resources/schema/enumvar.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cb="http://www.legsem.com/legstar/xml/cobol-binding-1.0.1.xsd" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:tns="http://legstar.com/test/coxb/enumvar" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:ns0="http://java.sun.com/xml/ns/jaxb" ns0:extensionBindingPrefixes="cb" targetNamespace="http://legstar.com/test/coxb/enumvar" xmlns:ns1="http://java.sun.com/xml/ns/jaxb" ns1:version="2.0">
<xsd:annotation>
<xsd:appinfo>
	<jaxb:schemaBindings>
		<jaxb:package name="com.legstar.test.coxb.enumvar"/>
		<jaxb:nameXmlTransform>
			<jaxb:typeName suffix="Type"/>
		</jaxb:nameXmlTransform>
	</jaxb:schemaBindings>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType name="SearchRequest">
<xsd:sequence>
<xsd:element name="AppID" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>
<cb:cobolElement byteLength="40" cobolName="APPID" levelNumber="5" picture="X(40)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element default="Moderate" name="SafeSearch" type="tns:SafeSearchOptions">
<xsd:annotation>
<xsd:appinfo>
<cb:cobolElement byteLength="32" cobolName="SAFESEARCH" levelNumber="5" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element default="2" name="SearchWeight" type="tns:SearchWeightOptions">
<xsd:annotation>
<xsd:appinfo>
<cb:cobolElement byteLength="2" cobolName="SEARCHWEIGHT" levelNumber="5" picture="9(4) COMP" type="BINARY_ITEM" totalDigits="4" usage="BINARY"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="SafeSearchOptions">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Moderate"/>
<xsd:enumeration value="Strict"/>
<xsd:enumeration value="Off"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="SearchWeightOptions">
<xsd:restriction base="xsd:integer">
<xsd:enumeration value="2"/>
<xsd:enumeration value="4"/>
<xsd:enumeration value="6"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
