legstar-schemagen/src/test/schema/binarcht.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://legstar.com/test/coxb/binarcht"
xmlns="http://legstar.com/test/coxb/binarcht"
xmlns:xsns="http://legstar.com/test/coxb/binarcht"
xmlns:cb="http://www.legsem.com/xml/ns/coxb"
xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
jaxb:version="2.0"
jaxb:extensionBindingPrefixes="cb"
elementFormDefault="qualified">
 <xs:annotation><xs:appinfo>
 <jaxb:globalBindings generateIsSetMethod="true"/>
 <jaxb:schemaBindings>
 <jaxb:package  name="com.legstar.test.coxb.binarcht"/>
 </jaxb:schemaBindings>
 </xs:appinfo></xs:annotation>
 <xs:complexType name="WsSignedNativeType">
    <xs:sequence>
     <xs:element name="WsPs9X4Min">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='WS-PS9X4-MIN' type='NUMERIC_EDITED_ITEM' picture='+9(5)' usage='DISPLAY' byteLength='6' signed='true' totalDigits='5' srceLine='29'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:pattern value='[\+\-\d]\d{5}'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WsPs9X4Max">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='WS-PS9X4-MAX' type='NUMERIC_EDITED_ITEM' picture='+9(5)' usage='DISPLAY' byteLength='6' signed='true' totalDigits='5' srceLine='30'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:pattern value='[\+\-\d]\d{5}'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WsPs9X9Min">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='WS-PS9X9-MIN' type='NUMERIC_EDITED_ITEM' picture='+9(10)' usage='DISPLAY' byteLength='11' signed='true' totalDigits='10' srceLine='31'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:pattern value='[\+\-\d]\d{10}'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WsPs9X9Max">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='WS-PS9X9-MAX' type='NUMERIC_EDITED_ITEM' picture='+9(10)' usage='DISPLAY' byteLength='11' signed='true' totalDigits='10' srceLine='32'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:pattern value='[\+\-\d]\d{10}'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WsPs9X18Min">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='WS-PS9X18-MIN' type='NUMERIC_EDITED_ITEM' picture='+9(19)' usage='DISPLAY' byteLength='20' signed='true' totalDigits='19' srceLine='33'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:pattern value='[\+\-\d]\d{19}'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WsPs9X18Max">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='WS-PS9X18-MAX' type='NUMERIC_EDITED_ITEM' picture='+9(19)' usage='DISPLAY' byteLength='20' signed='true' totalDigits='19' srceLine='34'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:pattern value='[\+\-\d]\d{19}'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="DfhcommareaType">
    <xs:sequence>
     <xs:element name="LsUnsignedNative" type="xsns:LsUnsignedNativeType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='LS-UNSIGNED-NATIVE' type='GROUP_ITEM' srceLine='41'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
     <xs:element name="LsSignedNative" type="xsns:LsSignedNativeType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='LS-SIGNED-NATIVE' type='GROUP_ITEM' srceLine='48'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="LsUnsignedNativeType">
    <xs:sequence>
     <xs:element name="LsP9X4Min">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='LS-P9X4-MIN' type='NATIVE_BINARY_ITEM' picture='9(4)' usage='COMP-5' byteLength='2' signed='false' totalDigits='4' srceLine='42'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedShort">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="LsP9X4Max">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='LS-P9X4-MAX' type='NATIVE_BINARY_ITEM' picture='9(4)' usage='COMP-5' byteLength='2' signed='false' totalDigits='4' srceLine='43'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedShort">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="LsP9X9Min">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='LS-P9X9-MIN' type='NATIVE_BINARY_ITEM' picture='9(9)' usage='COMP-5' byteLength='4' signed='false' totalDigits='9' srceLine='44'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="LsP9X9Max">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='LS-P9X9-MAX' type='NATIVE_BINARY_ITEM' picture='9(9)' usage='COMP-5' byteLength='4' signed='false' totalDigits='9' srceLine='45'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="LsP9X18Min">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='LS-P9X18-MIN' type='NATIVE_BINARY_ITEM' picture='9(18)' usage='COMP-5' byteLength='8' signed='false' totalDigits='18' srceLine='46'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedLong">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="LsP9X18Max">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='LS-P9X18-MAX' type='NATIVE_BINARY_ITEM' picture='9(18)' usage='COMP-5' byteLength='8' signed='false' totalDigits='18' srceLine='47'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedLong">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="LsSignedNativeType">
    <xs:sequence>
     <xs:element name="LsPs9X4Min">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='LS-PS9X4-MIN' type='NATIVE_BINARY_ITEM' picture='S9(4)' usage='COMP-5' byteLength='2' signed='true' totalDigits='4' srceLine='49'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:short">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="LsPs9X4Max">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='LS-PS9X4-MAX' type='NATIVE_BINARY_ITEM' picture='S9(4)' usage='COMP-5' byteLength='2' signed='true' totalDigits='4' srceLine='50'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:short">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="LsPs9X9Min">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='LS-PS9X9-MIN' type='NATIVE_BINARY_ITEM' picture='S9(9)' usage='COMP-5' byteLength='4' signed='true' totalDigits='9' srceLine='51'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:int">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="LsPs9X9Max">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='LS-PS9X9-MAX' type='NATIVE_BINARY_ITEM' picture='S9(9)' usage='COMP-5' byteLength='4' signed='true' totalDigits='9' srceLine='52'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:int">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="LsPs9X18Min">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='LS-PS9X18-MIN' type='NATIVE_BINARY_ITEM' picture='S9(18)' usage='COMP-5' byteLength='8' signed='true' totalDigits='18' srceLine='53'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:long">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="LsPs9X18Max">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='LS-PS9X18-MAX' type='NATIVE_BINARY_ITEM' picture='S9(18)' usage='COMP-5' byteLength='8' signed='true' totalDigits='18' srceLine='54'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:long">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
</xs:schema>
