legstar-schemagen/src/test/schema/binnatus.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://legstar.com/test/coxb/binnatus"
xmlns="http://legstar.com/test/coxb/binnatus"
xmlns:xsns="http://legstar.com/test/coxb/binnatus"
xmlns:cb="http://www.legsem.com/xml/ns/coxb"
xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
jaxb:version="2.0"
jaxb:extensionBindingPrefixes="cb"
elementFormDefault="qualified">
 <xs:annotation><xs:appinfo>
 <jaxb:globalBindings generateIsSetMethod="true"/>
 <jaxb:schemaBindings>
 <jaxb:package  name="com.legstar.test.coxb.binnatus"/>
 </jaxb:schemaBindings>
 </xs:appinfo></xs:annotation>
 <xs:complexType name="WsExpectedIncomingDataType">
    <xs:sequence>
     <xs:element name="WsUnsignedNative" type="xsns:WsUnsignedNativeType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='WS-UNSIGNED-NATIVE' type='GROUP_ITEM' srceLine='30'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="WsUnsignedNativeType">
    <xs:sequence>
     <xs:element name="WsHalfwords" type="xsns:WsHalfwordsType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='WS-HALFWORDS' type='GROUP_ITEM' srceLine='31'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
     <xs:element name="WsFullwords" type="xsns:WsFullwordsType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='WS-FULLWORDS' type='GROUP_ITEM' srceLine='36'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
     <xs:element name="WsDoublewords" type="xsns:WsDoublewordsType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='WS-DOUBLEWORDS' type='GROUP_ITEM' srceLine='41'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="WsHalfwordsType">
    <xs:sequence>
     <xs:element name="WsP9X4Min">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='WS-P9X4-MIN' type='NATIVE_BINARY_ITEM' picture='9(4)' usage='COMP-5' byteLength='2' signed='false' totalDigits='4' srceLine='32'>
         <cb:value>0</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedShort">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WsP9X4Low">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='WS-P9X4-LOW' type='NATIVE_BINARY_ITEM' picture='9(4)' usage='COMP-5' byteLength='2' signed='false' totalDigits='4' srceLine='33'>
         <cb:value>127</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedShort">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WsP9X4High">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='WS-P9X4-HIGH' type='NATIVE_BINARY_ITEM' picture='9(4)' usage='COMP-5' byteLength='2' signed='false' totalDigits='4' srceLine='34'>
         <cb:value>32769</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedShort">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WsP9X4Max">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='WS-P9X4-MAX' type='NATIVE_BINARY_ITEM' picture='9(4)' usage='COMP-5' byteLength='2' signed='false' totalDigits='4' srceLine='35'>
         <cb:value>65535</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedShort">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="WsFullwordsType">
    <xs:sequence>
     <xs:element name="WsP9X9Min">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='WS-P9X9-MIN' type='NATIVE_BINARY_ITEM' picture='9(9)' usage='COMP-5' byteLength='4' signed='false' totalDigits='9' srceLine='37'>
         <cb:value>0</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WsP9X9Low">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='WS-P9X9-LOW' type='NATIVE_BINARY_ITEM' picture='9(9)' usage='COMP-5' byteLength='4' signed='false' totalDigits='9' srceLine='38'>
         <cb:value>65534</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WsP9X9High">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='WS-P9X9-HIGH' type='NATIVE_BINARY_ITEM' picture='9(9)' usage='COMP-5' byteLength='4' signed='false' totalDigits='9' srceLine='39'>
         <cb:value>2147483649</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WsP9X9Max">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='WS-P9X9-MAX' type='NATIVE_BINARY_ITEM' picture='9(9)' usage='COMP-5' byteLength='4' signed='false' totalDigits='9' srceLine='40'>
         <cb:value>4294967295</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="WsDoublewordsType">
    <xs:sequence>
     <xs:element name="WsP9X18Min">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='WS-P9X18-MIN' type='NATIVE_BINARY_ITEM' picture='9(18)' usage='COMP-5' byteLength='8' signed='false' totalDigits='18' srceLine='42'>
         <cb:value>0</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedLong">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WsP9X18Low">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='WS-P9X18-LOW' type='NATIVE_BINARY_ITEM' picture='9(18)' usage='COMP-5' byteLength='8' signed='false' totalDigits='18' srceLine='43'>
         <cb:value>4294967294</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedLong">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:choice>
     <xs:element name="WsP9X18HighB" type="xsns:WsP9X18HighBType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='WS-P9X18-HIGH-B' type='GROUP_ITEM' isRedefined='true' unmarshalChoiceStrategyClassName='' srceLine='44'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
     <xs:element name="WsP9X18High">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='WS-P9X18-HIGH' type='NATIVE_BINARY_ITEM' picture='9(18)' usage='COMP-5' byteLength='8' signed='false' totalDigits='18' redefines='WS-P9X18-HIGH-B' srceLine='48'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedLong">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     </xs:choice>
     <xs:choice>
     <xs:element name="WsP9X18MaxB" type="xsns:WsP9X18MaxBType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='WS-P9X18-MAX-B' type='GROUP_ITEM' isRedefined='true' unmarshalChoiceStrategyClassName='' srceLine='49'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
     <xs:element name="WsP9X18Max">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='WS-P9X18-MAX' type='NATIVE_BINARY_ITEM' picture='9(18)' usage='COMP-5' byteLength='8' signed='false' totalDigits='18' redefines='WS-P9X18-MAX-B' srceLine='53'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedLong">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     </xs:choice>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="WsP9X18HighBType">
    <xs:sequence>
     <xs:element name="Filler45">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='20' cobolName='FILLER-45' type='NATIVE_BINARY_ITEM' picture='9(9)' usage='COMP-5' byteLength='4' signed='false' totalDigits='9' srceLine='45'>
         <cb:value>4294967294</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="Filler46">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='20' cobolName='FILLER-46' type='NATIVE_BINARY_ITEM' picture='9(9)' usage='COMP-5' byteLength='4' signed='false' totalDigits='9' srceLine='46'>
         <cb:value>4294967294</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="WsP9X18MaxBType">
    <xs:sequence>
     <xs:element name="Filler50">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='20' cobolName='FILLER-50' type='NATIVE_BINARY_ITEM' picture='9(9)' usage='COMP-5' byteLength='4' signed='false' totalDigits='9' srceLine='50'>
         <cb:value>4294967295</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="Filler51">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='20' cobolName='FILLER-51' type='NATIVE_BINARY_ITEM' picture='9(9)' usage='COMP-5' byteLength='4' signed='false' totalDigits='9' srceLine='51'>
         <cb:value>4294967295</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="Filler55Type">
    <xs:sequence>
     <xs:element name="WsPs9X4Dis1">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='WS-PS9X4-DIS-1' type='NUMERIC_EDITED_ITEM' picture='+9(5)' usage='DISPLAY' byteLength='6' signed='true' totalDigits='5' srceLine='56'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:pattern value='[\+\-\d]\d{5}'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WsPs9X9Dis1">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='WS-PS9X9-DIS-1' type='NUMERIC_EDITED_ITEM' picture='+9(10)' usage='DISPLAY' byteLength='11' signed='true' totalDigits='10' srceLine='57'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:pattern value='[\+\-\d]\d{10}'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WsPs9X18Dis1">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='WS-PS9X18-DIS-1' type='NUMERIC_EDITED_ITEM' picture='+9(20)' usage='DISPLAY' byteLength='21' signed='true' totalDigits='20' srceLine='58'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:pattern value='[\+\-\d]\d{20}'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WsPs9X4Dis2">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='WS-PS9X4-DIS-2' type='NUMERIC_EDITED_ITEM' picture='+9(5)' usage='DISPLAY' byteLength='6' signed='true' totalDigits='5' srceLine='59'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:pattern value='[\+\-\d]\d{5}'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WsPs9X9Dis2">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='WS-PS9X9-DIS-2' type='NUMERIC_EDITED_ITEM' picture='+9(10)' usage='DISPLAY' byteLength='11' signed='true' totalDigits='10' srceLine='60'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:pattern value='[\+\-\d]\d{10}'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WsPs9X18Dis2">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='WS-PS9X18-DIS-2' type='NUMERIC_EDITED_ITEM' picture='+9(20)' usage='DISPLAY' byteLength='21' signed='true' totalDigits='20' srceLine='61'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:pattern value='[\+\-\d]\d{20}'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="DfhcommareaType">
    <xs:sequence>
     <xs:element name="LsUnsignedNative" type="xsns:LsUnsignedNativeType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='LS-UNSIGNED-NATIVE' type='GROUP_ITEM' srceLine='68'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="LsUnsignedNativeType">
    <xs:sequence>
     <xs:element name="LsHalfwords" type="xsns:LsHalfwordsType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='LS-HALFWORDS' type='GROUP_ITEM' srceLine='69'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
     <xs:element name="LsFullwords" type="xsns:LsFullwordsType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='LS-FULLWORDS' type='GROUP_ITEM' srceLine='74'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
     <xs:element name="LsDoublewords" type="xsns:LsDoublewordsType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='LS-DOUBLEWORDS' type='GROUP_ITEM' srceLine='79'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="LsHalfwordsType">
    <xs:sequence>
     <xs:element name="LsP9X4Min">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='LS-P9X4-MIN' type='NATIVE_BINARY_ITEM' picture='9(4)' usage='COMP-5' byteLength='2' signed='false' totalDigits='4' srceLine='70'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedShort">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="LsP9X4Low">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='LS-P9X4-LOW' type='NATIVE_BINARY_ITEM' picture='9(4)' usage='COMP-5' byteLength='2' signed='false' totalDigits='4' srceLine='71'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedShort">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="LsP9X4High">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='LS-P9X4-HIGH' type='NATIVE_BINARY_ITEM' picture='9(4)' usage='COMP-5' byteLength='2' signed='false' totalDigits='4' srceLine='72'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedShort">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="LsP9X4Max">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='LS-P9X4-MAX' type='NATIVE_BINARY_ITEM' picture='9(4)' usage='COMP-5' byteLength='2' signed='false' totalDigits='4' srceLine='73'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedShort">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="LsFullwordsType">
    <xs:sequence>
     <xs:element name="LsP9X9Min">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='LS-P9X9-MIN' type='NATIVE_BINARY_ITEM' picture='9(9)' usage='COMP-5' byteLength='4' signed='false' totalDigits='9' srceLine='75'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="LsP9X9Low">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='LS-P9X9-LOW' type='NATIVE_BINARY_ITEM' picture='9(9)' usage='COMP-5' byteLength='4' signed='false' totalDigits='9' srceLine='76'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="LsP9X9High">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='LS-P9X9-HIGH' type='NATIVE_BINARY_ITEM' picture='9(9)' usage='COMP-5' byteLength='4' signed='false' totalDigits='9' srceLine='77'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="LsP9X9Max">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='LS-P9X9-MAX' type='NATIVE_BINARY_ITEM' picture='9(9)' usage='COMP-5' byteLength='4' signed='false' totalDigits='9' srceLine='78'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="LsDoublewordsType">
    <xs:sequence>
     <xs:element name="LsP9X18Min">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='LS-P9X18-MIN' type='NATIVE_BINARY_ITEM' picture='9(18)' usage='COMP-5' byteLength='8' signed='false' totalDigits='18' srceLine='80'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedLong">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="LsP9X18Low">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='LS-P9X18-LOW' type='NATIVE_BINARY_ITEM' picture='9(18)' usage='COMP-5' byteLength='8' signed='false' totalDigits='18' srceLine='81'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedLong">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="LsP9X18High">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='LS-P9X18-HIGH' type='NATIVE_BINARY_ITEM' picture='9(18)' usage='COMP-5' byteLength='8' signed='false' totalDigits='18' srceLine='82'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedLong">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="LsP9X18Max">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='LS-P9X18-MAX' type='NATIVE_BINARY_ITEM' picture='9(18)' usage='COMP-5' byteLength='8' signed='false' totalDigits='18' srceLine='83'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedLong">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
</xs:schema>
