legstar-schemagen/src/test/schema/lsfileal.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://legstar.com/test/coxb/lsfileal"
xmlns="http://legstar.com/test/coxb/lsfileal"
xmlns:xsns="http://legstar.com/test/coxb/lsfileal"
xmlns:cb="http://www.legsem.com/xml/ns/coxb"
xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
jaxb:version="2.0"
jaxb:extensionBindingPrefixes="cb"
elementFormDefault="qualified">
 <xs:annotation><xs:appinfo>
 <jaxb:schemaBindings>
 <jaxb:package  name="com.legstar.test.coxb.lsfileal"/>
 </jaxb:schemaBindings>
 </xs:appinfo></xs:annotation>
 <xs:complexType name="RequestParmsType">
    <xs:sequence>
     <xs:element name="RequestName">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='REQUEST-NAME' type='ALPHANUMERIC_ITEM' picture='X(20)' usage='DISPLAY' byteLength='20' srceLine='51'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='20'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="ReplyDataType">
    <xs:sequence>
     <xs:element name="ReplyType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='REPLY-TYPE' type='BINARY_ITEM' picture='9(4)' usage='BINARY' byteLength='2' signed='false' totalDigits='4' srceLine='54'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedShort">
         <xs:minInclusive value='0'/>
         <xs:maxInclusive value='9999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:choice>
     <xs:element name="ReplySuccessHeader" type="xsns:ReplySuccessHeaderType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='REPLY-SUCCESS-HEADER' type='GROUP_ITEM' isRedefined='true' unmarshalChoiceStrategyClassName='' srceLine='57'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
     <xs:element name="ReplyErrorHeader" type="xsns:ReplyErrorHeaderType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='REPLY-ERROR-HEADER' type='GROUP_ITEM' redefines='REPLY-SUCCESS-HEADER' srceLine='61'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
     </xs:choice>
     <xs:element name="Filler65" type="xsns:Filler65Type">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='FILLER-65' type='GROUP_ITEM' srceLine='65'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="ReplySuccessHeaderType">
    <xs:sequence>
     <xs:element name="SearchDuration">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='SEARCH-DURATION' type='ALPHANUMERIC_ITEM' picture='X(8)' usage='DISPLAY' byteLength='8' srceLine='58'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="TotalItemsRead">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='TOTAL-ITEMS-READ' type='PACKED_DECIMAL_ITEM' picture='9(8)' usage='PACKED-DECIMAL' byteLength='5' signed='false' totalDigits='8' srceLine='59'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:minInclusive value='0'/>
         <xs:maxInclusive value='99999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="Filler60">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='FILLER-60' type='ALPHANUMERIC_ITEM' picture='X(123)' usage='DISPLAY' byteLength='123' srceLine='60'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='123'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="ReplyErrorHeaderType">
    <xs:sequence>
     <xs:element name="ReplyResp">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='REPLY-RESP' type='BINARY_ITEM' picture='S9(8)' usage='BINARY' byteLength='4' signed='true' totalDigits='8' srceLine='62'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:int">
         <xs:minInclusive value='-99999999'/>
         <xs:maxInclusive value='99999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyResp2">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='REPLY-RESP2' type='BINARY_ITEM' picture='S9(8)' usage='BINARY' byteLength='4' signed='true' totalDigits='8' srceLine='63'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:int">
         <xs:minInclusive value='-99999999'/>
         <xs:maxInclusive value='99999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyMessage">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='REPLY-MESSAGE' type='ALPHANUMERIC_ITEM' picture='X(128)' usage='DISPLAY' byteLength='128' srceLine='64'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='128'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="Filler65Type">
    <xs:sequence>
     <xs:element name="ReplyItemscount">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='REPLY-ITEMSCOUNT' type='PACKED_DECIMAL_ITEM' picture='9(8)' usage='PACKED-DECIMAL' byteLength='5' signed='false' totalDigits='8' isODOObject='true' srceLine='66'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:minInclusive value='0'/>
         <xs:maxInclusive value='99999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyItem" minOccurs="1" maxOccurs="100" type="xsns:ReplyItemType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='10' cobolName='REPLY-ITEM' type='GROUP_ITEM' minOccurs='1' maxOccurs='100' dependingOn='REPLY-ITEMSCOUNT' srceLine='68'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="ReplyItemType">
    <xs:sequence>
     <xs:element name="ReplyNumber">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='REPLY-NUMBER' type='ZONED_DECIMAL_ITEM' picture='9(6)' usage='DISPLAY' byteLength='6' signed='false' totalDigits='6' srceLine='69'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:minInclusive value='0'/>
         <xs:maxInclusive value='999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyPersonal" type="xsns:ReplyPersonalType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='REPLY-PERSONAL' type='GROUP_ITEM' srceLine='70'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
     <xs:element name="ReplyDate">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='REPLY-DATE' type='ALPHANUMERIC_ITEM' picture='X(8)' usage='DISPLAY' byteLength='8' srceLine='74'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyAmount">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='REPLY-AMOUNT' type='ALPHANUMERIC_ITEM' picture='X(8)' usage='DISPLAY' byteLength='8' srceLine='75'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyComment">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='REPLY-COMMENT' type='ALPHANUMERIC_ITEM' picture='X(9)' usage='DISPLAY' byteLength='9' srceLine='76'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='9'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="ReplyPersonalType">
    <xs:sequence>
     <xs:element name="ReplyName">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='20' cobolName='REPLY-NAME' type='ALPHANUMERIC_ITEM' picture='X(20)' usage='DISPLAY' byteLength='20' srceLine='71'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='20'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyAddress">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='20' cobolName='REPLY-ADDRESS' type='ALPHANUMERIC_ITEM' picture='X(20)' usage='DISPLAY' byteLength='20' srceLine='72'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='20'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyPhone">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='20' cobolName='REPLY-PHONE' type='ALPHANUMERIC_ITEM' picture='X(8)' usage='DISPLAY' byteLength='8' srceLine='73'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
</xs:schema>
