tags/Legstar-1.2.3/legstar-schemagen/src/test/schema/alltypes.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://legstar.com/test/coxb/alltypes"
xmlns="http://legstar.com/test/coxb/alltypes"
xmlns:xsns="http://legstar.com/test/coxb/alltypes"
xmlns:cb="http://www.legsem.com/xml/ns/coxb"
xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
jaxb:version="2.0"
jaxb:extensionBindingPrefixes="cb"
elementFormDefault="qualified">
 <xs:annotation><xs:appinfo>
 <jaxb:schemaBindings>
 <jaxb:package  name="com.legstar.test.coxb.alltypes"/>
 </jaxb:schemaBindings>
 </xs:appinfo></xs:annotation>
 <xs:complexType name="Dfhcommarea">
    <xs:sequence>
     <xs:element name="SString">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='S-STRING' type='ALPHANUMERIC_ITEM' picture='X(4)' usage='DISPLAY' byteLength='4' srceLine='24'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='4'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="SBinary">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='S-BINARY' type='OCTET_STREAM_ITEM' picture='X(4)' usage='DISPLAY' byteLength='4' srceLine='25'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:hexBinary">
         <xs:length value='4'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="SShort">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='S-SHORT' type='BINARY_ITEM' picture='S9(4)' usage='BINARY' byteLength='2' signed='true' totalDigits='4' srceLine='26'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:short">
         <xs:minInclusive value='-9999'/>
         <xs:maxInclusive value='9999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="SUshort">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='S-USHORT' type='BINARY_ITEM' picture='9(4)' usage='BINARY' byteLength='2' signed='false' totalDigits='4' srceLine='27'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedShort">
         <xs:minInclusive value='0'/>
         <xs:maxInclusive value='9999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="SInt">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='S-INT' type='BINARY_ITEM' picture='S9(9)' usage='BINARY' byteLength='4' signed='true' totalDigits='9' srceLine='28'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:int">
         <xs:minInclusive value='-999999999'/>
         <xs:maxInclusive value='999999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="SUint">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='S-UINT' type='BINARY_ITEM' picture='9(9)' usage='BINARY' byteLength='4' signed='false' totalDigits='9' srceLine='29'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:minInclusive value='0'/>
         <xs:maxInclusive value='999999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="SLong">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='S-LONG' type='PACKED_DECIMAL_ITEM' picture='S9(18)' usage='PACKED-DECIMAL' byteLength='10' signed='true' totalDigits='18' srceLine='30'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:long">
         <xs:minInclusive value='-999999999999999999'/>
         <xs:maxInclusive value='999999999999999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="SUlong">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='S-ULONG' type='PACKED_DECIMAL_ITEM' picture='9(18)' usage='PACKED-DECIMAL' byteLength='10' signed='false' totalDigits='18' srceLine='31'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedLong">
         <xs:minInclusive value='0'/>
         <xs:maxInclusive value='999999999999999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="SXlong">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='S-XLONG' type='PACKED_DECIMAL_ITEM' picture='S9(31)' usage='PACKED-DECIMAL' byteLength='16' signed='true' totalDigits='31' srceLine='32'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:integer">
         <xs:minInclusive value='-9999999999999999999999999999999'/>
         <xs:maxInclusive value='9999999999999999999999999999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="SUxlong">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='S-UXLONG' type='PACKED_DECIMAL_ITEM' picture='9(31)' usage='PACKED-DECIMAL' byteLength='16' signed='false' totalDigits='31' srceLine='33'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:integer">
         <xs:minInclusive value='0'/>
         <xs:maxInclusive value='9999999999999999999999999999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="SDec">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='S-DEC' type='PACKED_DECIMAL_ITEM' picture='9(7)V99' usage='PACKED-DECIMAL' byteLength='5' signed='false' totalDigits='9' fractionDigits='2' srceLine='34'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:decimal">
         <xs:totalDigits value='9'/>
         <xs:fractionDigits value='2'/>
         <xs:minInclusive value='0.0'/>
         <xs:maxInclusive value='9999999.99'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="SFloat">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='S-FLOAT' type='SINGLE_FLOAT_ITEM' usage='COMP-1' byteLength='4' srceLine='35'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:float">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="SDouble">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='S-DOUBLE' type='DOUBLE_FLOAT_ITEM' usage='COMP-2' byteLength='8' srceLine='36'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:double">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="AString" minOccurs="2" maxOccurs="2">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='A-STRING' type='ALPHANUMERIC_ITEM' picture='X(4)' usage='DISPLAY' byteLength='4' minOccurs='2' maxOccurs='2' srceLine='38'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='4'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ABinary" minOccurs="2" maxOccurs="2">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='A-BINARY' type='ALPHANUMERIC_ITEM' picture='X(4)' usage='DISPLAY' byteLength='4' minOccurs='2' maxOccurs='2' srceLine='39'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='4'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="AShort" minOccurs="2" maxOccurs="2">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='A-SHORT' type='BINARY_ITEM' picture='S9(4)' usage='BINARY' byteLength='2' signed='true' totalDigits='4' minOccurs='2' maxOccurs='2' srceLine='40'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:short">
         <xs:minInclusive value='-9999'/>
         <xs:maxInclusive value='9999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="AUshort" minOccurs="2" maxOccurs="2">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='A-USHORT' type='BINARY_ITEM' picture='9(4)' usage='BINARY' byteLength='2' signed='false' totalDigits='4' minOccurs='2' maxOccurs='2' srceLine='41'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedShort">
         <xs:minInclusive value='0'/>
         <xs:maxInclusive value='9999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="AInt" minOccurs="2" maxOccurs="2">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='A-INT' type='BINARY_ITEM' picture='S9(9)' usage='BINARY' byteLength='4' signed='true' totalDigits='9' minOccurs='2' maxOccurs='2' srceLine='42'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:int">
         <xs:minInclusive value='-999999999'/>
         <xs:maxInclusive value='999999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="AUint" minOccurs="2" maxOccurs="2">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='A-UINT' type='BINARY_ITEM' picture='9(9)' usage='BINARY' byteLength='4' signed='false' totalDigits='9' minOccurs='2' maxOccurs='2' srceLine='43'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:minInclusive value='0'/>
         <xs:maxInclusive value='999999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ALong" minOccurs="2" maxOccurs="2">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='A-LONG' type='PACKED_DECIMAL_ITEM' picture='S9(18)' usage='PACKED-DECIMAL' byteLength='10' signed='true' totalDigits='18' minOccurs='2' maxOccurs='2' srceLine='44'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:long">
         <xs:minInclusive value='-999999999999999999'/>
         <xs:maxInclusive value='999999999999999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="AUlong" minOccurs="2" maxOccurs="2">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='A-ULONG' type='PACKED_DECIMAL_ITEM' picture='9(18)' usage='PACKED-DECIMAL' byteLength='10' signed='false' totalDigits='18' minOccurs='2' maxOccurs='2' srceLine='45'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedLong">
         <xs:minInclusive value='0'/>
         <xs:maxInclusive value='999999999999999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="AXlong" minOccurs="2" maxOccurs="2">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='A-XLONG' type='PACKED_DECIMAL_ITEM' picture='S9(31)' usage='PACKED-DECIMAL' byteLength='16' signed='true' totalDigits='31' minOccurs='2' maxOccurs='2' srceLine='46'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:integer">
         <xs:minInclusive value='-9999999999999999999999999999999'/>
         <xs:maxInclusive value='9999999999999999999999999999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="AUxlong" minOccurs="2" maxOccurs="2">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='A-UXLONG' type='PACKED_DECIMAL_ITEM' picture='9(31)' usage='PACKED-DECIMAL' byteLength='16' signed='false' totalDigits='31' minOccurs='2' maxOccurs='2' srceLine='47'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:integer">
         <xs:minInclusive value='0'/>
         <xs:maxInclusive value='9999999999999999999999999999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ADec" minOccurs="2" maxOccurs="2">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='A-DEC' type='PACKED_DECIMAL_ITEM' picture='9(7)V99' usage='PACKED-DECIMAL' byteLength='5' signed='false' totalDigits='9' fractionDigits='2' minOccurs='2' maxOccurs='2' srceLine='48'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:decimal">
         <xs:totalDigits value='9'/>
         <xs:fractionDigits value='2'/>
         <xs:minInclusive value='0.0'/>
         <xs:maxInclusive value='9999999.99'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="AFloat" minOccurs="2" maxOccurs="2">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='A-FLOAT' type='SINGLE_FLOAT_ITEM' usage='COMP-1' byteLength='4' minOccurs='2' maxOccurs='2' srceLine='49'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:float">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ADouble" minOccurs="2" maxOccurs="2">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='A-DOUBLE' type='DOUBLE_FLOAT_ITEM' usage='COMP-2' byteLength='8' minOccurs='2' maxOccurs='2' srceLine='50'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:double">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
</xs:schema>
