tags/Legstar-1.2.5/legstar-schemagen/src/test/schema/typesmix.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://legstar.com/test/coxb/typesmix"
xmlns="http://legstar.com/test/coxb/typesmix"
xmlns:xsns="http://legstar.com/test/coxb/typesmix"
xmlns:cb="http://www.legsem.com/legstar/xml/cobol-binding-1.0.1.xsd"
xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
jaxb:version="2.0"
jaxb:extensionBindingPrefixes="cb"
elementFormDefault="qualified">
 <xs:annotation><xs:appinfo>
 <jaxb:schemaBindings>
 <jaxb:package  name="com.legstar.test.coxb.typesmix"/>
 </jaxb:schemaBindings>
 </xs:appinfo></xs:annotation>
 <xs:complexType name="Dfhcommarea">
    <xs:sequence>
     <xs:element name="CAlphabetic">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='C-ALPHABETIC' type='ALPHABETIC_ITEM' picture='A(5)' usage='DISPLAY' srceLine='21'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='5'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="CNational">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='C-NATIONAL' type='NATIONAL_ITEM' picture='N(9)' usage='NATIONAL' srceLine='22'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='9'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="CDbcs">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='C-DBCS' type='DBCS_ITEM' picture='G(4)' usage='DISPLAY-1' srceLine='23'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='4'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="CAlphanumericEdited">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='C-ALPHANUMERIC-EDITED' type='ALPHANUMERIC_EDITED_ITEM' picture='A(2)X(3)/9900BBB/' usage='DISPLAY' srceLine='24'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='14'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="CAlphanumeric">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='C-ALPHANUMERIC' type='ALPHANUMERIC_ITEM' picture='X(7)' usage='DISPLAY' srceLine='25'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='7'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="COctetString">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='C-OCTET-STRING' type='OCTET_STREAM_ITEM' picture='X(8)' usage='DISPLAY' srceLine='26'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:hexBinary">
         <xs:length value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="CSingleFloat">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='C-SINGLE-FLOAT' type='SINGLE_FLOAT_ITEM' usage='COMP-1' srceLine='27'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:float">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="CDoubleFloat">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='C-DOUBLE-FLOAT' type='DOUBLE_FLOAT_ITEM' usage='COMP-2' srceLine='28'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:double">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="CPackedDecimal">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='C-PACKED-DECIMAL' type='PACKED_DECIMAL_ITEM' picture='S9(15)V99' usage='PACKED-DECIMAL' signed='true' totalDigits='17' fractionDigits='2' srceLine='29'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:decimal">
         <xs:totalDigits value='17'/>
         <xs:fractionDigits value='2'/>
         <xs:minInclusive value='-999999999999999.99'/>
         <xs:maxInclusive value='999999999999999.99'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="CZonedDecimal">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='C-ZONED-DECIMAL' type='ZONED_DECIMAL_ITEM' picture='S9(5)9(9)' usage='DISPLAY' signed='true' totalDigits='14' srceLine='30'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:long">
         <xs:minInclusive value='-99999999999999'/>
         <xs:maxInclusive value='99999999999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="CNumericEdited1">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='C-NUMERIC-EDITED-1' type='NUMERIC_EDITED_ITEM' picture='PPP009999CR' usage='DISPLAY' signed='true' totalDigits='6' fractionDigits='6' srceLine='31'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:pattern value='[\d\.]{3}0{2}\d{4}CR'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="CNumericEdited2">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='C-NUMERIC-EDITED-2' type='NUMERIC_EDITED_ITEM' picture='$$$9999/,99.999+' usage='DISPLAY' signed='true' totalDigits='11' fractionDigits='3' srceLine='32'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:pattern value='[$\d]{3}\d{4}[,\s]\d{2}\.\d{3}[\+\-\d]'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="CNumericEdited3">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='C-NUMERIC-EDITED-3' type='NUMERIC_EDITED_ITEM' picture='****999.99' usage='DISPLAY' signed='false' totalDigits='9' fractionDigits='2' srceLine='33'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:pattern value='[1-9\*]{4}\d{3}\.\d{2}'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="CNumericEdited4">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='C-NUMERIC-EDITED-4' type='NUMERIC_EDITED_ITEM' picture='-ZZZZ99.999' usage='DISPLAY' signed='true' totalDigits='9' fractionDigits='3' srceLine='34'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:pattern value='[\+\-\d][1-9\s]{4}\d{2}\.\d{3}'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="CIndex">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='C-INDEX' type='INDEX_ITEM' usage='INDEX' srceLine='35'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:hexBinary">
         <xs:length value='4'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="CPointer">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='C-POINTER' type='POINTER_ITEM' usage='POINTER' srceLine='36'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:hexBinary">
         <xs:length value='4'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="CProcPointer">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='C-PROC-POINTER' type='PROC_POINTER_ITEM' usage='PROCEDURE-POINTER' srceLine='37'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:hexBinary">
         <xs:length value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="CFuncPointer">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='C-FUNC-POINTER' type='FUNC_POINTER_ITEM' usage='FUNCTION-POINTER' srceLine='38'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:hexBinary">
         <xs:length value='4'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="CExternalFloating">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='C-EXTERNAL-FLOATING' type='EXTERNAL_FLOATING_ITEM' picture='+99.99E-99' usage='DISPLAY' signed='true' totalDigits='4' fractionDigits='2' srceLine='39'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='10'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="CBinary">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='C-BINARY' type='BINARY_ITEM' picture='S9(9)' usage='BINARY' signed='true' totalDigits='9' srceLine='40'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:int">
         <xs:minInclusive value='-999999999'/>
         <xs:maxInclusive value='999999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="CNativeBinary">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='C-NATIVE-BINARY' type='NATIVE_BINARY_ITEM' picture='9(4)' usage='COMP-5' signed='false' totalDigits='4' srceLine='41'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedShort">
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
</xs:schema>
