src/site/resources/xml/cobol-binding-1.0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.legsem.com/legstar/xml/cobol-binding-1.0.1.xsd" elementFormDefault="qualified">
    <xs:annotation>
        <xs:documentation xml:lang="en">This XML Schema describes the LegStar COBOL binding language. A cobolElement can be attached to an XML Schema element or a Java property to describe how that element or property translates into a COBOL data item.</xs:documentation>
    </xs:annotation>

    <xs:complexType name="cobolElement">
      <xs:attribute name="levelNumber" use="required">
        <xs:annotation>
          <xs:documentation xml:lang="en">The COBOL data item level.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="01"></xs:minInclusive>
            <xs:maxInclusive value="88"></xs:maxInclusive>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="cobolName" use="required">
        <xs:annotation>
          <xs:documentation xml:lang="en">The COBOL data item name as it appears in the original source code.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:maxLength value="30"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" use="required">
        <xs:annotation>
          <xs:documentation xml:lang="en">The COBOL data item type, derived from its PICTURE and USAGE clauses.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="ALPHABETIC_ITEM"></xs:enumeration>
            <xs:enumeration value="NATIONAL_ITEM"></xs:enumeration>
            <xs:enumeration value="DBCS_ITEM"></xs:enumeration>
            <xs:enumeration value="ALPHANUMERIC_EDITED_ITEM"></xs:enumeration>
            <xs:enumeration value="ALPHANUMERIC_ITEM"></xs:enumeration>
            <xs:enumeration value="OCTET_STREAM_ITEM"></xs:enumeration>
            <xs:enumeration value="SINGLE_FLOAT_ITEM"></xs:enumeration>
            <xs:enumeration value="DOUBLE_FLOAT_ITEM"></xs:enumeration>
            <xs:enumeration value="PACKED_DECIMAL_ITEM"></xs:enumeration>
            <xs:enumeration value="ZONED_DECIMAL_ITEM"></xs:enumeration>
            <xs:enumeration value="NUMERIC_EDITED_ITEM"></xs:enumeration>
            <xs:enumeration value="INDEX_ITEM"></xs:enumeration>
            <xs:enumeration value="POINTER_ITEM"></xs:enumeration>
            <xs:enumeration value="PROC_POINTER_ITEM"></xs:enumeration>
            <xs:enumeration value="FUNC_POINTER_ITEM"></xs:enumeration>
            <xs:enumeration value="OBJECT_ITEM"></xs:enumeration>
            <xs:enumeration value="EXTERNAL_FLOATING_ITEM"></xs:enumeration>
            <xs:enumeration value="BINARY_ITEM"></xs:enumeration>
            <xs:enumeration value="NATIVE_BINARY_ITEM"></xs:enumeration>
            <xs:enumeration value="ALPHANUMERIC_ITEM"></xs:enumeration>
            <xs:enumeration value="GROUP_ITEM"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="picture" use="optional">
        <xs:annotation>
          <xs:documentation xml:lang="en">Elementary data item PICTURE clause.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="usage" use="optional">
        <xs:annotation>
          <xs:documentation xml:lang="en">Elementary data item USAGE clause.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="DISPLAY"></xs:enumeration>
            <xs:enumeration value="BINARY"></xs:enumeration>
            <xs:enumeration value="COMP-1"></xs:enumeration>
            <xs:enumeration value="COMP-2"></xs:enumeration>
            <xs:enumeration value="COMP-5"></xs:enumeration>
            <xs:enumeration value="NATIONAL"></xs:enumeration>
            <xs:enumeration value="DISPLAY-1"></xs:enumeration>
            <xs:enumeration value="PACKED-DECIMAL"></xs:enumeration>
            <xs:enumeration value="INDEX"></xs:enumeration>
            <xs:enumeration value="POINTER"></xs:enumeration>
            <xs:enumeration value="PROCEDURE-POINTER"></xs:enumeration>
            <xs:enumeration value="FUNCTION-POINTER"></xs:enumeration>
            <xs:enumeration value="OBJECT"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="signed" use="optional">
        <xs:annotation>
          <xs:documentation xml:lang="en">Numeric items might be signed or not.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="true"></xs:enumeration>
            <xs:enumeration value="false"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="totalDigits" use="optional">
        <xs:annotation>
          <xs:documentation xml:lang="en">Numeric item total number of digits (including fractional digits if this is a decimal).</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"></xs:minInclusive>
            <xs:maxInclusive value="31"></xs:maxInclusive>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="fractionDigits" use="optional">
        <xs:annotation>
          <xs:documentation xml:lang="en">Decimal item number of fractional digits.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"></xs:minInclusive>
            <xs:maxInclusive value="31"></xs:maxInclusive>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="signLeading" use="optional">
        <xs:annotation>
          <xs:documentation xml:lang="en">Numeric item position of the plus/minus sign.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="true"></xs:enumeration>
            <xs:enumeration value="false"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="signSeparate" use="optional">
        <xs:annotation>
          <xs:documentation xml:lang="en">Numeric item indicator that sign occupies its own byte location instead of being stored in a bit location within some other byte, part of the numeric representation.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="true"></xs:enumeration>
            <xs:enumeration value="false"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="minOccurs" use="optional">
        <xs:annotation>
          <xs:documentation xml:lang="en">Array lower bound.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="0"></xs:minInclusive>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="maxOccurs" use="optional">
        <xs:annotation>
          <xs:documentation xml:lang="en">Array upper bound.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="0"></xs:minInclusive>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="dependingOn" use="optional">
        <xs:annotation>
          <xs:documentation xml:lang="en">Variable size array size is given by this COBOL data item. The COBOL data item giving the size is known as the Occurs Depending On Object.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:maxLength value="30"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="isODOObject" use="optional">
        <xs:annotation>
          <xs:documentation xml:lang="en">Data item gives the size of at least one variable size array. Data item must be numeric.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="true"></xs:enumeration>
            <xs:enumeration value="false"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="redefines" use="optional">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name of a COBOL data item sharing the same memory location as this COBOL item.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:maxLength value="30"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="isRedefined" use="optional">
        <xs:annotation>
          <xs:documentation xml:lang="en">At least one other COBOL data item shares the same memory location as this COBOL data item.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="true"></xs:enumeration>
            <xs:enumeration value="false"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" use="optional">
        <xs:annotation>
          <xs:documentation xml:lang="en">The COBOL item initial value.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unmarshalChoiceStrategyClassName" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation xml:lang="en">Points to user custom code providing extra logic to help determine which alternative is to be used in redefines situations.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="marshalChoiceStrategyClassName" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation xml:lang="en">Points to user custom code providing extra logic to help determine which alternative is to be used in redefines situations.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="customVariable" use="optional">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates a data item which value is needed by user custom code. This is meant to simplify the task of retrieving a data item value from within user custom code.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="true"></xs:enumeration>
            <xs:enumeration value="false"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="srceLine" use="optional">
        <xs:annotation>
            <xs:documentation xml:lang="en">Points back to the originating source code line location.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"></xs:minInclusive>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      
    </xs:complexType>

    <xs:complexType name="cobolComplexType">
    <xs:annotation>
        <xs:documentation xml:lang="en">Used to track the original java class when XML Schema is built from a POJO.</xs:documentation>
    </xs:annotation>
      <xs:attribute name="javaClassName" use="optional">
        <xs:annotation>
          <xs:documentation xml:lang="en">A POJO class name that maps to this complex type.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

</xs:schema>