trunk/legstar-schemagen/src/test/schema/cultureinfo.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:cb="http://www.legsem.com/xml/ns/coxb" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sample.legstar.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:ns0="http://java.sun.com/xml/ns/jaxb" ns0:extensionBindingPrefixes="cb" targetNamespace="http://sample.legstar.com/" xmlns:ns1="http://java.sun.com/xml/ns/jaxb" ns1:version="2.0">
    <xsd:annotation>
        <xsd:appinfo>
            <jaxb:schemaBindings>
                <jaxb:package name="legstar.test.cultureinfo"/>
                <jaxb:nameXmlTransform>
                    <jaxb:typeName suffix="Type"/>
                </jaxb:nameXmlTransform>
            </jaxb:schemaBindings>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:element name="CultureInfoException" type="tns:CultureInfoException">
        <xsd:annotation>
            <xsd:appinfo>
                <cb:cobolElement cobolName="CultureInfoException" levelNumber="1" type="GROUP_ITEM"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getInfo" type="tns:getInfo">
        <xsd:annotation>
            <xsd:appinfo>
                <cb:cobolElement cobolName="getInfo" levelNumber="1" type="GROUP_ITEM"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getInfoResponse" type="tns:getInfoResponse">
        <xsd:annotation>
            <xsd:appinfo>
                <cb:cobolElement cobolName="getInfoResponse" levelNumber="1" type="GROUP_ITEM"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="getInfo">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="arg0" type="tns:cultureInfoRequest">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="arg0" levelNumber="3" type="GROUP_ITEM"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="cultureInfoRequest">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="cultureCode" type="xs:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement byteLength="32" cobolName="cultureCode" levelNumber="5" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="decimalNumber" type="xs:decimal">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement byteLength="5" cobolName="decimalNumber" fractionDigits="2" levelNumber="5" picture="9(7)V9(2)" signed="true" totalDigits="9" type="PACKED_DECIMAL_ITEM" usage="COMP-3"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getInfoResponse">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="return" type="tns:cultureInfoReply">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="R-return" levelNumber="3" type="GROUP_ITEM"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="cultureInfoReply">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="currencySymbol" type="xs:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement byteLength="32" cobolName="currencySymbol" levelNumber="5" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="displayCountry" type="xs:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement byteLength="32" cobolName="displayCountry" levelNumber="5" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="displayLanguage" type="xs:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement byteLength="32" cobolName="displayLanguage" levelNumber="5" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="formattedDate" type="xs:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement byteLength="32" cobolName="formattedDate" levelNumber="5" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="formattedDecimalNumber" type="xs:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement byteLength="32" cobolName="formattedDecimalNumber" levelNumber="5" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="serverCultureInfo" type="tns:serverCultureInfo">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement cobolName="serverCultureInfo" levelNumber="5" type="GROUP_ITEM"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="serverCultureInfo">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="cultureCode" type="xs:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement byteLength="32" cobolName="cultureCode" levelNumber="7" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="displayCountry" type="xs:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement byteLength="32" cobolName="displayCountry" levelNumber="7" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="displayLanguage" type="xs:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement byteLength="32" cobolName="displayLanguage" levelNumber="7" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CultureInfoException">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="message" type="xs:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cb:cobolElement byteLength="32" cobolName="R-message" levelNumber="3" picture="X(32)" type="ALPHANUMERIC_ITEM" usage="DISPLAY"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
