trunk/legstar-schemagen/src/test/schema/lsfileac.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://legstar.com/test/coxb/lsfileac"
xmlns="http://legstar.com/test/coxb/lsfileac"
xmlns:xsns="http://legstar.com/test/coxb/lsfileac"
xmlns:cb="http://www.legsem.com/xml/ns/coxb"
xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
jaxb:version="2.0"
jaxb:extensionBindingPrefixes="cb"
elementFormDefault="qualified">
 <xs:annotation><xs:appinfo>
 <jaxb:schemaBindings>
 <jaxb:package  name="com.legstar.test.coxb.lsfileac"/>
 </jaxb:schemaBindings>
 </xs:appinfo></xs:annotation>
 <xs:complexType name="WQueryDataType">
    <xs:sequence>
     <xs:element name="WQueryName">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='W-QUERY-NAME' type='ALPHANUMERIC_ITEM' picture='X(20)' usage='DISPLAY' byteLength='20' srceLine='32'>
         <cb:value>*</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='20' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WQueryAddress">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='W-QUERY-ADDRESS' type='ALPHANUMERIC_ITEM' picture='X(20)' usage='DISPLAY' byteLength='20' srceLine='33'>
         <cb:value>*</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='20' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WQueryPhone">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='W-QUERY-PHONE' type='ALPHANUMERIC_ITEM' picture='X(8)' usage='DISPLAY' byteLength='8' srceLine='34'>
         <cb:value>*</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='8' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="WQueryLimitType">
    <xs:sequence>
     <xs:element name="WMaxItemsRead">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='W-MAX-ITEMS-READ' type='PACKED_DECIMAL_ITEM' picture='9(8)' usage='PACKED-DECIMAL' byteLength='5' signed='false' totalDigits='8' srceLine='37'>
         <cb:value>200</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:minInclusive value='0' fixed='true'/>
         <xs:maxInclusive value='99999999' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WMaxElapseTime">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='W-MAX-ELAPSE-TIME' type='PACKED_DECIMAL_ITEM' picture='9(8)' usage='PACKED-DECIMAL' byteLength='5' signed='false' totalDigits='8' srceLine='38'>
         <cb:value>10000</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:minInclusive value='0' fixed='true'/>
         <xs:maxInclusive value='99999999' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="ReplyDataType">
    <xs:sequence>
     <xs:element name="ReplyItemscount">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='REPLY-ITEMSCOUNT' type='PACKED_DECIMAL_ITEM' picture='9(8)' usage='PACKED-DECIMAL' byteLength='5' signed='false' totalDigits='8' isODOObject='true' srceLine='64'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:minInclusive value='0' fixed='true'/>
         <xs:maxInclusive value='99999999' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyItem" minOccurs="1" maxOccurs="100" type="xsns:ReplyItemType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='REPLY-ITEM' type='GROUP_ITEM' minOccurs='1' maxOccurs='100' dependingOn='REPLY-ITEMSCOUNT' srceLine='66'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="ReplyItemType">
    <xs:sequence>
     <xs:element name="ReplyNumber">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='REPLY-NUMBER' type='ZONED_DECIMAL_ITEM' picture='9(6)' usage='DISPLAY' byteLength='6' signed='false' totalDigits='6' srceLine='67'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:minInclusive value='0' fixed='true'/>
         <xs:maxInclusive value='999999' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyPersonal" type="xsns:ReplyPersonalType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='REPLY-PERSONAL' type='GROUP_ITEM' srceLine='68'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
     <xs:element name="ReplyDate">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='REPLY-DATE' type='ALPHANUMERIC_ITEM' picture='X(8)' usage='DISPLAY' byteLength='8' srceLine='72'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='8' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyAmount">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='REPLY-AMOUNT' type='ALPHANUMERIC_ITEM' picture='X(8)' usage='DISPLAY' byteLength='8' srceLine='73'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='8' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyComment">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='REPLY-COMMENT' type='ALPHANUMERIC_ITEM' picture='X(9)' usage='DISPLAY' byteLength='9' srceLine='74'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='9' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="ReplyPersonalType">
    <xs:sequence>
     <xs:element name="ReplyName">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='20' cobolName='REPLY-NAME' type='ALPHANUMERIC_ITEM' picture='X(20)' usage='DISPLAY' byteLength='20' srceLine='69'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='20' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyAddress">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='20' cobolName='REPLY-ADDRESS' type='ALPHANUMERIC_ITEM' picture='X(20)' usage='DISPLAY' byteLength='20' srceLine='70'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='20' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyPhone">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='20' cobolName='REPLY-PHONE' type='ALPHANUMERIC_ITEM' picture='X(8)' usage='DISPLAY' byteLength='8' srceLine='71'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='8' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="ReplyStatusType">
    <xs:sequence>
     <xs:element name="ReplyType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='REPLY-TYPE' type='BINARY_ITEM' picture='9(4)' usage='BINARY' byteLength='2' signed='false' totalDigits='4' srceLine='77'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedShort">
         <xs:minInclusive value='0' fixed='true'/>
         <xs:maxInclusive value='9999' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="SearchDuration">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='SEARCH-DURATION' type='ALPHANUMERIC_ITEM' picture='X(8)' usage='DISPLAY' byteLength='8' srceLine='80'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='8' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="TotalItemsRead">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='TOTAL-ITEMS-READ' type='PACKED_DECIMAL_ITEM' picture='9(8)' usage='PACKED-DECIMAL' byteLength='5' signed='false' totalDigits='8' srceLine='81'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:minInclusive value='0' fixed='true'/>
         <xs:maxInclusive value='99999999' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyResp">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='REPLY-RESP' type='BINARY_ITEM' picture='S9(8)' usage='BINARY' byteLength='4' signed='true' totalDigits='8' srceLine='82'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:int">
         <xs:minInclusive value='-99999999' fixed='true'/>
         <xs:maxInclusive value='99999999' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyResp2">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='REPLY-RESP2' type='BINARY_ITEM' picture='S9(8)' usage='BINARY' byteLength='4' signed='true' totalDigits='8' srceLine='83'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:int">
         <xs:minInclusive value='-99999999' fixed='true'/>
         <xs:maxInclusive value='99999999' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyMessage">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='REPLY-MESSAGE' type='ALPHANUMERIC_ITEM' picture='X(128)' usage='DISPLAY' byteLength='128' srceLine='84'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='128' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="QueryDataType">
    <xs:sequence>
     <xs:element name="QueryName">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='QUERY-NAME' type='ALPHANUMERIC_ITEM' picture='X(20)' usage='DISPLAY' byteLength='20' srceLine='92'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='20' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="QueryAddress">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='QUERY-ADDRESS' type='ALPHANUMERIC_ITEM' picture='X(20)' usage='DISPLAY' byteLength='20' srceLine='93'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='20' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="QueryPhone">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='QUERY-PHONE' type='ALPHANUMERIC_ITEM' picture='X(8)' usage='DISPLAY' byteLength='8' srceLine='94'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='8' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="QueryLimitType">
    <xs:sequence>
     <xs:element name="MaxItemsRead">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='MAX-ITEMS-READ' type='PACKED_DECIMAL_ITEM' picture='9(8)' usage='PACKED-DECIMAL' byteLength='5' signed='false' totalDigits='8' srceLine='97'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:minInclusive value='0' fixed='true'/>
         <xs:maxInclusive value='99999999' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="MaxElapseTime">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='MAX-ELAPSE-TIME' type='PACKED_DECIMAL_ITEM' picture='9(8)' usage='PACKED-DECIMAL' byteLength='5' signed='false' totalDigits='8' srceLine='98'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:minInclusive value='0' fixed='true'/>
         <xs:maxInclusive value='99999999' fixed='true'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
</xs:schema>
