trunk/legstar-schemagen/src/test/schema/lsfileac.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://legstar.com/test/coxb/lsfileac"
xmlns="http://legstar.com/test/coxb/lsfileac"
xmlns:xsns="http://legstar.com/test/coxb/lsfileac"
xmlns:cb="http://www.legsem.com/legstar/xml/cobol-binding-1.0.1.xsd"
xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
jaxb:version="2.0"
jaxb:extensionBindingPrefixes="cb"
elementFormDefault="qualified">
 <xs:annotation><xs:appinfo>
 <jaxb:schemaBindings>
 <jaxb:package  name="com.legstar.test.coxb.lsfileac"/>
 </jaxb:schemaBindings>
 </xs:appinfo></xs:annotation>
 <xs:complexType name="WQueryData">
    <xs:sequence>
     <xs:element name="WQueryName">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='W-QUERY-NAME' type='ALPHANUMERIC_ITEM' picture='X(20)' usage='DISPLAY' srceLine='32'>
         <cb:value>*</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='20'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WQueryAddress">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='W-QUERY-ADDRESS' type='ALPHANUMERIC_ITEM' picture='X(20)' usage='DISPLAY' srceLine='33'>
         <cb:value>*</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='20'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WQueryPhone">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='W-QUERY-PHONE' type='ALPHANUMERIC_ITEM' picture='X(8)' usage='DISPLAY' srceLine='34'>
         <cb:value>*</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="WQueryLimit">
    <xs:sequence>
     <xs:element name="WMaxItemsRead">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='W-MAX-ITEMS-READ' type='PACKED_DECIMAL_ITEM' picture='9(8)' usage='PACKED-DECIMAL' signed='false' totalDigits='8' srceLine='37'>
         <cb:value>200</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:minInclusive value='0'/>
         <xs:maxInclusive value='99999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="WMaxElapseTime">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='W-MAX-ELAPSE-TIME' type='PACKED_DECIMAL_ITEM' picture='9(8)' usage='PACKED-DECIMAL' signed='false' totalDigits='8' srceLine='38'>
         <cb:value>10000</cb:value>
         </cb:cobolElement>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:minInclusive value='0'/>
         <xs:maxInclusive value='99999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="ReplyData">
    <xs:sequence>
     <xs:element name="ReplyItemscount">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='REPLY-ITEMSCOUNT' type='PACKED_DECIMAL_ITEM' picture='9(8)' usage='PACKED-DECIMAL' signed='false' totalDigits='8' isODOObject='true' srceLine='64'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:minInclusive value='0'/>
         <xs:maxInclusive value='99999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyItem" minOccurs="1" maxOccurs="100" type="xsns:ReplyItem">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='REPLY-ITEM' type='GROUP_ITEM' minOccurs='1' maxOccurs='100' dependingOn='REPLY-ITEMSCOUNT' srceLine='66'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="ReplyItem">
    <xs:sequence>
     <xs:element name="ReplyNumber">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='REPLY-NUMBER' type='ZONED_DECIMAL_ITEM' picture='9(6)' usage='DISPLAY' signed='false' totalDigits='6' srceLine='67'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:minInclusive value='0'/>
         <xs:maxInclusive value='999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyPersonal" type="xsns:ReplyPersonal">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='REPLY-PERSONAL' type='GROUP_ITEM' srceLine='68'/>
         </xs:appinfo>
       </xs:annotation>
     </xs:element>
     <xs:element name="ReplyDate">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='REPLY-DATE' type='ALPHANUMERIC_ITEM' picture='X(8)' usage='DISPLAY' srceLine='72'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyAmount">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='REPLY-AMOUNT' type='ALPHANUMERIC_ITEM' picture='X(8)' usage='DISPLAY' srceLine='73'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyComment">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='15' cobolName='REPLY-COMMENT' type='ALPHANUMERIC_ITEM' picture='X(9)' usage='DISPLAY' srceLine='74'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='9'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="ReplyPersonal">
    <xs:sequence>
     <xs:element name="ReplyName">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='20' cobolName='REPLY-NAME' type='ALPHANUMERIC_ITEM' picture='X(20)' usage='DISPLAY' srceLine='69'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='20'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyAddress">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='20' cobolName='REPLY-ADDRESS' type='ALPHANUMERIC_ITEM' picture='X(20)' usage='DISPLAY' srceLine='70'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='20'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyPhone">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='20' cobolName='REPLY-PHONE' type='ALPHANUMERIC_ITEM' picture='X(8)' usage='DISPLAY' srceLine='71'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="ReplyStatus">
    <xs:sequence>
     <xs:element name="ReplyType">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='REPLY-TYPE' type='BINARY_ITEM' picture='9(4)' usage='BINARY' signed='false' totalDigits='4' srceLine='77'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedShort">
         <xs:minInclusive value='0'/>
         <xs:maxInclusive value='9999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="SearchDuration">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='SEARCH-DURATION' type='ALPHANUMERIC_ITEM' picture='X(8)' usage='DISPLAY' srceLine='80'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="TotalItemsRead">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='TOTAL-ITEMS-READ' type='PACKED_DECIMAL_ITEM' picture='9(8)' usage='PACKED-DECIMAL' signed='false' totalDigits='8' srceLine='81'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:minInclusive value='0'/>
         <xs:maxInclusive value='99999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyResp">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='REPLY-RESP' type='BINARY_ITEM' picture='S9(8)' usage='BINARY' signed='true' totalDigits='8' srceLine='82'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:int">
         <xs:minInclusive value='-99999999'/>
         <xs:maxInclusive value='99999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyResp2">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='REPLY-RESP2' type='BINARY_ITEM' picture='S9(8)' usage='BINARY' signed='true' totalDigits='8' srceLine='83'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:int">
         <xs:minInclusive value='-99999999'/>
         <xs:maxInclusive value='99999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="ReplyMessage">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='REPLY-MESSAGE' type='ALPHANUMERIC_ITEM' picture='X(128)' usage='DISPLAY' srceLine='84'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='128'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="QueryData">
    <xs:sequence>
     <xs:element name="QueryName">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='QUERY-NAME' type='ALPHANUMERIC_ITEM' picture='X(20)' usage='DISPLAY' srceLine='92'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='20'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="QueryAddress">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='QUERY-ADDRESS' type='ALPHANUMERIC_ITEM' picture='X(20)' usage='DISPLAY' srceLine='93'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='20'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="QueryPhone">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='QUERY-PHONE' type='ALPHANUMERIC_ITEM' picture='X(8)' usage='DISPLAY' srceLine='94'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:string">
         <xs:length value='8'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
 <xs:complexType name="QueryLimit">
    <xs:sequence>
     <xs:element name="MaxItemsRead">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='MAX-ITEMS-READ' type='PACKED_DECIMAL_ITEM' picture='9(8)' usage='PACKED-DECIMAL' signed='false' totalDigits='8' srceLine='97'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:minInclusive value='0'/>
         <xs:maxInclusive value='99999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
     <xs:element name="MaxElapseTime">
       <xs:annotation>
         <xs:appinfo>
         <cb:cobolElement levelNumber='05' cobolName='MAX-ELAPSE-TIME' type='PACKED_DECIMAL_ITEM' picture='9(8)' usage='PACKED-DECIMAL' signed='false' totalDigits='8' srceLine='98'/>
         </xs:appinfo>
       </xs:annotation>
       <xs:simpleType>
         <xs:restriction base="xs:unsignedInt">
         <xs:minInclusive value='0'/>
         <xs:maxInclusive value='99999999'/>
         </xs:restriction>
       </xs:simpleType>
     </xs:element>
    </xs:sequence>
 </xs:complexType>
</xs:schema>
